parameters:
    level: 6
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Property .+::.*verbose is never read, only written#'
        - '#Offset .optional. on array.+ in isset\(\) does not exist#'
        - '#Result of && is always false#'
